/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html{
  box-sizing: border-box;
  font-family: 'bebas_neueregular';
}

p{
  font-family: 'calibri'
}

/*End CSS reset*/

header{
  height: auto;
  width: 100%;
  background: url(../images/header.svg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#head_content{
  position: relative;
  padding: 4% 4% 4% 4%;
  font-family: 'bebas_neueregular';
}

.head_left{
  width: 50%;
  display: inline-block;
  padding-bottom: 10%;
}


.head_logo img{
  /*padding: 4% 0px 0px 4%;*/
  width: 100%;
}
.head_left_text{
  padding-top: 4%;
  height: auto;
  color: #ffffff;
  font-size: 2em;
  font-size: 3vw;
}

.head_right{
  width: 49%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  color: #ffffff;
  padding-bottom: 10%;
}

#head_email{
  font-size: 3vw;
}

#head_phone{
  font-size: 5vw;
  color: white !important; 
}

/*End header css*/

/*Start nav css*/

nav{
  width: 100%;
  height: auto;
  font-family: 'bebas_neueregular';
  margin: 0 auto;
  text-align: center;
}

nav a{
  text-decoration: none;
  color: black;
}

nav ul li{
  display: inline-block;
  width: 33%;
}

#nav{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 20px auto;
  vertical-align: top;
}

#mobile_nav{
  display: none;
  height: auto;
}


.nav_button{
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto;
  font-size: 3vw;
  text-align: center;
  display: inline-block;
  min-width: 15%;
}

.nav_button:hover{
  background-color: red;
  color: white;
}

/* menu burger css. */

.burger{
  height: 200px;
  width: 100%;
  display: block;
}

/*End nav css*/

/*Start section_Header css*/

#section_head{
  height: 16vw;
  font-size: 8vw;
  padding-top: 8vw;
  text-align: center;
}

/*End section_Header css*/

/*Start about css*/
#about{
  text-align: left;
}

#about h1{
  font-size: 4vw;
  margin-bottom: 5%;
  color: white;
}

#about h1 span{
  color: red;
}

#about p{
  margin: 1% auto;
  font-size: 1.3vw;
  font-family: calibri, helvetica;
  color: white;
}

#about img{ 
  height: auto;
  width: 100%;
  left: 0px;
}

#about_content{
  position:absolute;
  padding: 1%;
  width: 50%;
  text-align: center;
}
/*End about css*/

/*Start Main content css*/

#domestic img{
  position: absolute;
  height: auto;
  width: 100%;
  max-height: 900px;
}

#commercial img{
  position: absolute;
  height: auto;
  width: 100%;
  max-height: 900px;
}

#automotive img{
  position: absolute;
  height: auto;
  width: 100%;
  max-height: 800px;
}

#commercial{
  height: 60vw;
  width: 100%;
}

#commercial h1, #commercial li, #commercial p{
}

#commercial .mcl{
  border-left: 2px solid white;
}

#commercial .mcr{
  border-right: none;
}

/*Start generic content styling*/

#domestic .mcl, #automotive .mcl{
  border-right: 2px solid white;
}

.main_content{
  position: relative;
  text-align: center;
  padding: 1%;
  color: white;
  overflow: hidden;
}

.mcl, .mcr{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin: 17% 0%;
}

.mcl h1, .mcr h1{
  font-size: 4vw;
  margin-bottom: 5%;
  padding: 0 10%;
  text-decoration: underline;
}

.mcr li{
  font-size: 2vw;
  letter-spacing: .15vw;
  line-height: 2em;
}

.mcl p{
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0 10%;
  text-align: left;
}

#contact{
  width: 100%;
  margin-top: 15vw; /*Quick hack to fix overflow issue*/
  height: auto;
  text-align: center;
  font-size: 6vw;
  line-height: 5vw;
}

#contact p{
  font-size: 1vw;
}

#contact h2{
  font-size: 2vw;
}

#contact h3{
  font-size: 3vw;
}
#contact p{
  /*max-width: 200px;*/
  text-align: center;
}

#contact input{
  text-align: center;
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #3e454d;
  height: 2vw;
  min-height: 15px;
  color: white;
  width: 100%;
}

#contact input:focus{
  outline: none;
}

#contact label{
  font-size: .5em;
  display: block;
}

#contact textarea{
  min-height: 20vw;
  width: 60%;
  border: 5px solid black;
}

#contact .formButton{
  width: 60%;
  margin-top: 1vw;
  height: 3vw;
  border: none;
  background-color: black;
  color: white;
}

#contact .formButton:hover{
  background-color: green;
}

.contactLeft{
  display: inline-block;
  width: 50%;
}

.contactRight{
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

/*CSS for sent.php*/
#sentContainer{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10%;
}

#sentContainer h1 p{
  margin: 5%;
}

#sentContainer h1{
  font-size: 3em;
}
/*End CSS for sent.php*/

footer{
  height: 10vw;
  min-height: 50px;
  background-color: #3e454d;
  padding: 40px 0px;
  margin-top: 2vw;
  color: white;
  text-align: center;
}

footer a{
  color: white;
  padding-bottom: 10px;
  text-decoration: underline;
}
footer p{
  margin-top: 1.5vw;
}

/*Start responsive css*/

@media screen and (max-width: 1080px){
  
  #nav_top, #nav_bottom{
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav_button{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 680px){
  .mcl p, .mcr p, #about p{
    font-size: 2vw;
  }

  #about p{
    width: 80%;
    font-size: 1.3vw;
    color
  }

  .contactLeft{
    display: block;
    text-align: center;
    width: 100%;
  }
  .contactRight{
    width: 100%;
  }
}

/*End Responsive CSS*/




